body {padding: 0; margin: 0; overflow: hidden; }

#background { margin: 0; padding: 0; height: 100vh; width: 100vw; z-index: -999; background-image: url('../img/background.png'); background-size: auto 100vh; background-repeat: no-repeat; }

#blockman {height:100px; width:100px; background-color:blue; margin:0px; 
    position:absolute; bottom:58px; left:50px; border-radius:10px;}
    
#ground {position:absolute; background-position: 10px; left: 0px; bottom: 0px; 	background: -webkit-repeating-linear-gradient(50deg, #54bc59, #54bc59 20px, #74c978 20px, #74c978 40px);
	background: -moz-repeating-linear-gradient(50deg, #54bc59, #54bc59 20px, #74c978 20px, #74c978 40px);
	background: -o-repeating-linear-gradient(50deg, #54bc59, #54bc59 20px, #74c978 20px, #74c978 40px);
	background: repeating-linear-gradient(50deg, #54bc59, #54bc59 20px, #74c978 20px, #74c978 40px); background-size: auto; width:100%; height:60px; 
margin: 0px; border: 0; }

.jumpblock {height:100px; width: 100px; border-radius: 3px; background-color: brown; margin: 0px; position: absolute; bottom: 60px; }

.slideblock {height:50px; width: 100px; border-radius: 3px; background-color: brown; margin: 0px; position: absolute; bottom: 120px; }